PH_API_TOKEN=n9F*******w
PH_API_URL=https://api.producthunt.com/v2/api/graphql
BASE_URL=https://www.producthunt.com
SAMPLE_USERNAME=rrhoover
SAMPLE_VIEWER_USERNAME=pranjali_katiyar
PH_API_CLIENT_ID=TH******gGM
PH_API_CLIENT_SECRET=Gr******iBFnI
PH_OAUTH_REDIRECT_URI=https://www.producthunt.com/@pranjali_katiyar
PH_OAUTH_CODE=CPf****aXw